<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!--Iconify-->
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <!-- Extra style sheet -->
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">

    <title>Vivian Wang</title>
    <link rel="icon" href="{{url_for('static', filename='icon-for-blog-28.jpg')}}" type="image/x-icon">
    <style>
        @media (min-width: 1200px) {
            .container {
                max-width: 1100px;
            }
        }
    </style>
</head>

<body>
    <div id="particles-js"></div>
    <script src="particles.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script>
        particlesJS.load("particles-js", "{{ url_for('static', filename='particles.json') }}",
            function() {
                console.log("callback - particles.js config loaded");
            });
    </script>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="home" viewBox="0 0 16 16">
        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
      </symbol>
      <symbol id="people-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </symbol>
      <symbol id="grid" viewBox="0 0 16 16">
        <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
      </symbol>   
</svg>

    <div style="margin-left:10%;position:fixed">
        <header class="d-none d-sm-none d-md-block">
            <div class="mx-5 py-4 fixed-top">
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-secondary text-decoration-none">
                            <span class="fs-4">Vivian Wang</span>
                        </a>
                        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                            <li>
                                <a class="nav-link text-dark">
                                    <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg> HOME
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('portfolio') }}" class="nav-link text-secondary">
                                    <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg> PORTFOLIO
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('about') }}" class="nav-link text-secondary">
                                    <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg> ABOUT
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <header class="d-block d-md-none d-lg-none">
            <div class="mx-3 py-4 pos-f-t">
                <nav class="navbar">
                    <div class="d-flex">
                        <button class="header_btn text-small px-2" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="iconify" data-icon="fontisto:nav-icon-a"></span>
                              </button>
                        <a href="/" class="text-secondary text-decoration-none mx-3">
                            <span class="fs-4 ">Vivian Wang</span>
                        </a>
                    </div>

                </nav>
                <div class="collapse pos-f-t" id="navbarToggleExternalContent">
                    <ul class="nav my-2 text-small align-items-left">
                        <li>
                            <a class="nav-link text-dark">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg> HOME
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('portfolio') }}" class="nav-link text-secondary">
                                <svg class="bi d-block mx-auto mb-1" width="20" height="20"><use xlink:href="#grid"/></svg> PORTFOLIO
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('about') }}" class="nav-link text-secondary">
                                <svg class="bi d-block mx-auto mb-1" width="20" height="20"><use xlink:href="#people-circle"/></svg> ABOUT
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
    </div>
    <main>
        <section class="text-center vertical-center">
            <div class="mx-auto container">
                <h1 class="pb-1">Vivian Wang</h1>
                <hr class="mb-3" style="width:10%;margin-left:auto;margin-right:auto">
                <p class="lead text-dark mb-4">Welcome to my portfolio!<br>Here you will find a collection of my data vizs and projects.<br>Have fun!</p>
                <button class="index_btn mx-2"><a class="nav-link text-dark" href="{{ url_for('portfolio') }}">Portfolio</a></button>
                <button class="index_btn mx-2"><a class="nav-link text-dark" href="{{ url_for('about') }}">About Me</a></button>
            </div>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>